{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hunter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/hunter.css' %}"/>
</head>
<body> 
  <header class="header">
    <a href="{% url 'hunterIndex' %}" class="logo">
      HUNTER
    </a>

    <h2 class="nav__title">Добро пожаловать, {{ user.username }}</h2>

    <div class="icons">
      {% if user.is_authenticated %}
      <img class="profile__icon" src="{{ request.user.profile.avatar.url }}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% else %}
      <img class="profile__icon" src="{% static '/img/avatar.png' %}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% endif %}
    </div>

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          {% if user.is_authenticated %}
          <img src="{{ request.user.profile.avatar.url }}" alt="">
          <h3>{{ user.username }}</h3>
          {% else %}
          <img src="{% static '/img/avatar.png' %}" alt="">
          <h3>Anonymus</h3>
          {% endif %}
        </div>
        <hr>
        
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="{% url 'hunterAdminProfit' %}" class="sub-menu-link">
          <img src="{% static '/img/help.png' %}" alt="">
          <p>Admin</p>
          <span>></span>
        </a>
        <a href="{% url 'logout' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/logout.png' %}" alt="">
          <p>Log Out</p>
          <span>></span>
        </a>
        {% else %}
        <a href="{% url 'login' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Login</p>
          <span>></span>
        </a>
        <a href="{% url 'register' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Register</p>
          <span>></span>
        </a>
        {% endif %}

      </div>
    </div>

  </header>

  <section class="main">
    {% block content %}
   
    {% endblock %}
    <div class="main__right">
      {% with request.resolver_match.url_name as url_name %}
      <nav class="main__right__nav">
        <a class="{% if url_name == 'hunterAdminStaff' %}current__page{% endif %}" href="{% url 'hunterAdminStaff' %}">Персонал</a>
        <a class="{% if url_name == 'hunterAdminSupplies' %}current__page{% endif %}" href="{% url 'hunterAdminSupplies' %}">Поставки</a>
        <a class="{% if url_name == 'hunterAdminMenu' %}current__page{% endif %}" href="{% url 'hunterAdminMenu' %}">Меню</a>
        <a class="{% if url_name == 'hunterAdminReviews' %}current__page{% endif %}" href="{% url 'hunterAdminReviews' %}">Отзывы</a>
        <a class="{% if url_name == 'hunterAdminOrders' %}current__page{% endif %}" href="{% url 'hunterAdminOrders' %}">Заказы</a>
        <a class="{% if url_name == 'hunterAdminReservations' %}current__page{% endif %}" href="{% url 'hunterAdminReservations' %}">Бронь</a>
        <a class="{% if url_name == 'hunterAdminProfit' %}current__page{% endif %}" href="{% url 'hunterAdminProfit' %}">Выручка</a>
      </nav>   
      {% endwith %} 
    </div>
  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'js/hunter.js' %}"></script>
  <script src="{% static 'js/edit.js' %}"></script>
</body>
</html>

