{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hunter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/hunter.css' %}"/>
</head>
<body> 
  <header class="header">
    <a href="{% url 'hunterIndex' %}" class="logo">
      HUNTER
    </a>

    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar">
      <a class="{% if url_name == 'hunterIndex' %}current__page{% endif %}" href="{% url 'hunterIndex' %}">Главная</a>
      <a class="{% if url_name == 'hunterMenu' %}current__page{% endif %}" href="{% url 'hunterMenu' %}">Меню</a>
      <a class="{% if url_name == 'hunterReservation' %}current__page{% endif %}" href="{% url 'hunterReservation' %}">Забронировать</a>
      <a class="{% if url_name == 'hunterReviews' %}current__page{% endif %}" href="{% url 'hunterReviews' %}">Отзывы</a>
      {% if user.is_authenticated %}
      <a class="{% if url_name == 'hunterOrders' %}current__page{% endif %}" href="{% url 'hunterOrders' %}">Заказы</a>
      {% endif %}
    </nav>

    <div class="icons">
      {% if user.is_authenticated %}
      <img class="profile__icon" src="{{ request.user.profile.avatar.url }}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% else %}
      <img class="profile__icon" src="{% static '/img/avatar.png' %}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% endif %}
      <a href="{% url 'cartSummary' %}"><ion-icon class="{% if url_name == 'cartSummary' %}current__icon{% else %}cart__icon{% endif %}" name="cart-outline"></ion-icon><span class="cart__size" id="cart_quantity">{{ cart|length }}</span></a>
    </div>
    {% endwith %}

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          {% if user.is_authenticated %}
          <img src="{{ request.user.profile.avatar.url }}" alt="">
          <h3>{{ user.username }}</h3>
          {% else %}
          <img src="{% static '/img/avatar.png' %}" alt="">
          <h3>Anonymus</h3>
          {% endif %}
        </div>
        <hr>
        
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Edit Profile</p>
          <span>></span>
        </a>
        <a href="{% url 'hunterAdminProfit' %}" class="sub-menu-link">
          <img src="{% static '/img/help.png' %}" alt="">
          <p>Help</p>
          <span>></span>
        </a>
        <a href="{% url 'logout' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/logout.png' %}" alt="">
          <p>Log Out</p>
          <span>></span>
        </a>
        {% else %}
        <a href="{% url 'login' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Login</p>
          <span>></span>
        </a>
        <a href="{% url 'register' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Register</p>
          <span>></span>
        </a>
        {% endif %}

      </div>
    </div>

  </header>

  {% block content %}
   
  {% endblock %}
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{% static 'js/hunter.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>

