{% extends 'layouts/hunter__admin-base.html' %}

{% block content %}
<div class="fragment">
  <table>
    <thead>
      <tr>
        <th>Дата</th>
        <th>Кол-во посетителей</th>
        <th>Доход</th>
        <th>Расход</th>
        <th>Прибыль</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in revenues %}

      <tr>
        <td>{{ revenue.date }}</td>
        <td>{{ revenue.guests }}</td>
        <td>{{ revenue.income }}</td>
        <td>{{ revenue.consumption }}</td>
        <td>{{ revenue.profit }}</td>
      </tr>

      {% endfor %}
      <tr>
        <td colspan="5" class="text-right text-bold">Общая прибыль: {{ sum_profit }} рублей</td>
      </tr>
    </tbody>
</table>
</div>
   
{% endblock %}


