{% extends 'layouts/hunter__admin-base.html' %}

{% block content %}
<div class="fragment">
  <div class="supply_item">
    
    <h2 class="edit__title">
        Добавить поставку: 
    </h2>
    <form class="edit__form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="edit__input">
        <label class="edit__input-title" for="">{{field.label_tag}}</label>
        {{field}}
        {% if field.errors%}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <button class="edit__btn">Добавить</button>
    </form>

  </div>
</div>
{% endblock %}