{% extends 'layouts/hunter__admin-base.html' %}

{% block content %}
<div class="fragment">
  <div class="supplies">
    <table>
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Поставщик</th>
            <th>Цена, руб/кг</th>
            <th>Вес, кг</th>
          </tr>
        </thead>
        <tbody>
          {% for sup in supplies %}
          <tr class="clickable-row" data-href="{% url 'hunterAdminSuppliesEdit' supply_id=sup.id %}">
            <td>{{ sup.name }}</td>
            <td>{{ sup.provider }}</td>
            <td>{{ sup.price }}</td>
            <td>{{ sup.weight }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4" class="text-right text-bold">Всего: {{ sum_cost }} рублей</td>
          </tr>
        </tbody>
    </table>
    <div class="table__edit">
      <a href="{% url 'hunterAdminSuppliesAdd' %}"><button class="btn-2">Добавить</button></a>
    </div>
  </div>
</div>
{% endblock %}