{% extends 'layouts/hunter__admin-base.html' %}

{% block content %}
<div class="fragment">
  <div class="supplies">
    <table>
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Поставщик</th>
            <th>Цена, руб.</th>
            <th>Вес, кг</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Помидоры</td>
            <td>Барабара</td>
            <td>1000</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Говядина</td>
            <td>Герегере</td>
            <td>12000</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Свинина</td>
            <td>Пупупу</td>
            <td>10000</td>
            <td>50</td>
          </tr>
          <tr>
            <td colspan="4" class="text-right text-bold">Всего: 230000 рублей</td>
          </tr>
        </tbody>
    </table>
    <div class="table__edit">
        <button class="btn-2">Добавить</button>
        <button class="btn-2">Редактировать</button>
        <button class="btn-2">Сохранить</button>
    </div>
  </div>
</div>
{% endblock %}