{% extends 'layouts/hunter__admin-base.html' %}

{% block content %}
<div class="fragment">
  <div class="reservations">
    <table>
        <thead>
          <tr>
            <th>ФИО</th>
            <th>Время</th>
            <th>Дата</th>
            <th>Гости</th>
            <th>Телефон</th>
            <th>Комментарий</th>
          </tr>
        </thead>
        <tbody>
          {% for res in reservations %}
          <tr class="clickable-row" data-href="/main">
            <td>{{ res.name }}</td>
            <td>{{ res.time }}</td>
            <td>{{ res.date }}</td>
            <td>{{ res.guests }}</td>
            <td>{{ res.phone }}</td>
            <td>{{ res.comment }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="6" class="text-right text-bold">Всего: 15 гостей</td>
          </tr>
        </tbody>
    </table>
    <div class="table__edit">
      <button class="btn-2">Добавить</button>
    </div>
  </div>
</div>
{% endblock %}
