{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baikal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}"/>
  <link rel="stylesheet" href="{% static '/css/slick.css' %}">
  <link rel="stylesheet" href="{% static '/css/main.css' %}"/>
</head>
<body> 
    
  <header class="header">
    <a href="{% url 'main' %}" class="logo">
      BAIKAL
    </a>

    <nav class="navbar">
      <a class="current_page" href="main.html">Главная</a>
      <a href="#">Новости</a>
      <a href="#">О нас</a>
    </nav>

    <div class="icons">
      {% if user.is_authenticated and not request.user.is_superuser %}
      <img class="profile__icon" src="{{ request.user.profile.avatar.url }}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% else %}
      <img class="profile__icon" src="{% static '/img/avatar.png' %}" class="fas fa-user profile" id="prof-btn" onclick="toggleMenu()"></img>
      {% endif %}
    </div>

    <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          {% if user.is_authenticated and not request.user.is_superuser %} 
          <img src="{{ request.user.profile.avatar.url }}" alt="">
          <h3>{{ user.username }}</h3>
          {% elif request.user.is_superuser  %}
          <img src="{% static '/img/avatar.png' %}" alt="">
          <h3>{{ user.username }}</h3>
          {% else %}
          <img src="{% static '/img/avatar.png' %}" alt="">
          <h3>Anonymus</h3>
          {% endif %}
        </div>
        <hr>
        
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Edit Profile</p>
          <span>></span>
        </a>
        {% if user.groups.all.0.name == "waiter" or user.groups.all.0.name == "chef" or user.groups.all.0.name == "manager" or request.user.is_superuser %}
        {% if request.user.is_superuser %}
        <a href="{% url 'restaurantAdmin' %}" class="sub-menu-link">
          <img src="{% static '/img/help.png' %}" alt="">
          <p>Admin</p>
          <span>></span>
        </a>
        {% else %}
        <a href="{% url 'restaurantAdminOrders' restaurant_name=request.user.profile.worker.profession.restaurant.name %}" class="sub-menu-link">
          <img src="{% static '/img/help.png' %}" alt="">
          <p>Admin</p>
          <span>></span>
        </a>
        {% endif %}
        {% endif %}
        <a href="{% url 'logout' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/logout.png' %}" alt="">
          <p>Log Out</p>
          <span>></span>
        </a>
        {% else %}
        <a href="{% url 'login' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Login</p>
          <span>></span>
        </a>
        <a href="{% url 'register' %}?continue={{ request.get_full_path }}" class="sub-menu-link">
          <img src="{% static '/img/setting.png' %}" alt="">
          <p>Register</p>
          <span>></span>
        </a>
        {% endif %}

      </div>
    </div>
  </header>

  <section class="home">
    <div class="slider">

      <div class="slider-item">
        <div class="slider-img">
          <img src="{% static '/img/slider-1.jpg' %}" alt="">
        </div>
        <div class="slider-text">
          <h2>Ассоциация BAIKAL - сеть ресторанов сибирской кухни</h2>
          <p>Каждое заведение уже давно полюбилось жителям и гостям города за разнообразие вкусов и сибирское гостеприимство</p>
          <a href="{% url 'main' %}">О нас</a>
        </div>
      </div>

      {% for restaurant in restaurants %}

      {% include 'components/restaurant-item.html' %}

      {% endfor %}

    </div>
  </section>
    
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static '/js/slick.min.js' %}"></script>
    <script>
          $(function(){
        $('.slider').slick({
            arrows: true,
            fade: true,
            dots: true,
            infinite: true,
          prevArrow: '<button type="button" class="slick-btn slick-prev"><img src="{% static "/img/arrow-prev.svg" %}" alt="image"></button>',
          nextArrow: '<button type="button" class="slick-btn slick-next"><img src="{% static "/img/arrow-next.svg" %}" alt="image"></button>',
        });
    });
    </script>
    <script src="{% static '/js/main.js' %}"></script>
    
</body>
</html>
