{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hunter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="{% static '/css/reset.css' %}"/>
  <link rel="stylesheet" href="{% static '/css/restaurant.css' %}"/>
</head>
<body> 

  <section class="edit">
    <h2 class="edit__title">
      Настройки профиля: <span>{{ user.username }}.</span>
    </h2>
    <form class="edit__form" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% for field in form %}
      {% if field.html_name == "avatar"%}
      <div class="edit__input">
        <label class="edit__input-title" for="">{{field.label_tag}}</label>
        <label class="edit__img"> 
          {{field}}   
          <span class="edit__img-btn">Выберите файл</span>
        </label>
      </div>
      {% else %}
      <div class="edit__input">
        <label class="edit__input-title" for="">{{field.label_tag}}</label>
        {{field}}
        {% if field.errors%}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
      
      <img class="edit__image" src="{{ request.user.profile.avatar.url }}" alt="avatar">

      <button class="edit__btn">Сохранить</button>
    </form>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'js/edit.js' %}"></script>
</body>
</html>

