{% extends 'layouts/restaurant__base.html' %}

{% block content %}
<section class="reservation">
  <div class="reservation-form">

    <form class="form" method="post" novalidate>
      {% csrf_token %}
      <h2 class="form-title">Онлайн бронирование</h2>

      <p class="form-text">
        Позвоните по номеру <a href="#" class="form-link">{{ restaurant.phone }}</a>
        или заполните форму ниже
      </p>

      <div class="input-wrapper">
        
        <div class="input">
          {% if form.name.errors %}
            {% for error in form.name.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
          {% endif %}
          {{ form.name }}
        </div>
        
        
        <div class="input">
          {% if form.phone.errors %}
            {% for error in form.phone.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
          {% endif %}
          {{ form.phone }}
        </div>
        
         
      </div>


      <div class="input-wrapper">

        <div class="icon-wrapper">
          <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
          
          {{ form.guests }}

          <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
        </div>

        <div class="icon-wrapper">
          <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

          {{ form.date }}

          <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
        </div>

        <div class="icon-wrapper">
          <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
            {{ form.time }}
          <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
        </div>

      </div>

      {{ form.comment }}
      <button type="submit" class="btn">
        Забронировать стол
      </button>

    </form>
  </div>
</section>
{% endblock %}