{% load static %}

<div class="dish dish-admin">
  <a href="{% url 'restaurantAdminMenuEdit' restaurant_name=restaurant.name dish_id=dish.id %}" class="dish__card">
    <div class="dish__photo">
      <img src="{{ dish.img.url }}" alt="">
    </div>
    <div class="dish__content">
      <div class="dish__name">
        {{ dish.name }}
      </div>
      <div class="dish__text">
        {{ dish.content }}
      </div>
      <div class="dish__footer">
        <div class="dish__value">
          <div class="dish__price">
            {{ dish.price }} Р
          </div>
          <div class="dish__size">
            {{ dish.weight }} Г
          </div>
        </div>
      </div>
    </div>
  </a>
</div>