{% load static %}

<div class="dish">
    <div class="dish__photo">
      <img src="{{ dish.img.url }}" alt="">
    </div>
    <div class="dish__content">
      <div class="dish__name" id="dish-name-{{ dish.id }}">
        {{ dish.name }}
      </div>
      <div class="dish__text">
        {{ dish.content }}
      </div>
      <div class="dish__footer">
        <div class="dish__value">
          <div class="dish__price" id="dish-price-{{ dish.id }}">
            {{ dish.price }} Р
          </div>
          <div class="dish__size">
            {{ dish.weight }} Г
          </div>
        </div>
        <div class="dish__plus" data-id="{{ dish.id }}">
          
        </div>
      </div>
    </div>
</div>
