<a href="{% url 'hunterAdminOrderItem' order_id=order.id %}" class="order-href">
  <div class="order">
    <div class="order__left">
      <div class="order__num">Заказ<span>№{{ order.id }}</span></div>
    </div>
    <div class="order__right">
      <div class="order__right__body">
        <ui class="order__right__list">

          {% for dish in order.dishes.all %}

          <li>{{ dish }}</li>
      
          {% endfor %}
    
        </ui>
      </div>
      <div class="order__right__bottom">
        <span class="order__right__info">Гостей: {{ order.guests }}, </span>
        <span class="order__right__info">Дата: {{ order.date }}</span>
      </div>
    </div>
  </div>
</a>